{{ $cssResource := resources.Get "css/main.css" | fingerprint }}
{{ $cssPath := .Site.Params.mainCSS | default $cssResource.RelPermalink }}

{{ if .Site.IsProduction }}
  {{ if isset .Params "criticalCss" }}
    <style id="critical-css">{{ partial (printf "critical/%s.css" .Params.criticalCss) . | safeCSS }}</style>
    {{ $css := resources.Get "css/main.css" | resources.Fingerprint }}
    <link rel="preload" href="{{ $css.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ $css.RelPermalink }}"></noscript>
    <script>
      // Fallback for browsers that don't support preload
      (function() {
        var loadCSS = function(href) {
          var link = document.createElement('link');
          link.rel = 'stylesheet';
          link.href = href;
          document.head.appendChild(link);
        };
        
        if ('querySelector' in document && 'addEventListener' in window) {
          var links = document.querySelectorAll('link[rel="preload"][as="style"]');
          for (var i = 0; i < links.length; i++) {
            loadCSS(links[i].href);
          }
        } else {
          // For older browsers, load stylesheet synchronously
          document.write('<link rel="stylesheet" href="{{ $css.RelPermalink }}">');
        }
      })();
    </script>
  {{ else }}
    {{ $css := resources.Get "css/main.css" | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ end }}
{{ else }}
  {{ $css := resources.Get "css/main.css" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}
