<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/eportello" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/edward-“caddy-ed”-portello-961b2b33/" "svg" "icons-linkedin") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/eportellojr/?hl=en" "svg" "icons-instagram") }}
				</ul>
			</div>
			<!-- <div class="measure-narrow center mb4">
				<a name="subscribe"></a>
				<p class="f3 lh-title light-gray b tc mb2">Personalized Update Subscription</p>
				<p>Get awesome news or deals about new cars personalized to your intrest direct from Caddy Ed. So you never miss that next car deal.</p>
	
				{{ partial "newsletter-form" . }}
	
			</div> -->
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
