<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
    <div class="mw7 center ph3">
        <div class="db mb3">
            <div class="mw7 relative bg-fix-primary mb3">
                <h1 class="f2 f1-l b di lh-title mb3 white mw6">
                    {{.title}}
                    <svg viewBox="0 0 240 80" xmlns="http://www.w3.org/2000/svg">
  <style>
    .small { font: bold 3em "Source Sans Pro", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; fill: White; }
    .heavy { font: bold 30px sans-serif; }
    .Rrrrr { font: bold 3em "Source Sans Pro", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; fill: White; }
  </style>

  <text x="20" y="35" class="small">Caddy</text>
  <text x="65" y="55" class="Rrrrr">Ed</text>
</svg>
                </h1>
            </div>
            <div class="mw7 relative bg-fix-primary">
                {{ if .subtitle }}
                <p class="b f4 di lh-title mb3 white mw6">
                    {{.subtitle}}
                </p>
                {{ end }}
            </div>
        </div>
    </div>
</div>

