<div class="pv2 pv2-l ph1 bg-center cover" style="background-image: url('{{.imageUrl}}')">
    <div class="mw7 center ph3">
        <div class="db mb3">
            <div class="mw7 relative bg-fix-primary mb3">
                <h1 class="f2 f1-l b di lh-title mb3 white mw6">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="auto" height="3.4em" style="
    text-shadow: yellow 2px 2px;
">
<text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" transform="matrix( 2.52224966570341, 0, 0, 3.80977804017487,5.27309466120414, 169.786713313372)" font-size="auto"><tspan font-size="auto" font-family="ITC Korinna Kursiv Extra BT" font-weight="bold" fill="#C6382E">Caddy Ed</tspan></text>
</svg>
                </h1>
            </div>
        </div>
        <div class="center mw6 pv0">
            <img src="/img/edwardportellonobg.png" alt="Caddy Ed logo" style="
    margin-top: -195px;
">
        </div>
    </div>
</div>
