<form method="POST" data-netlify-recaptcha="true" data-netlify="true" class="flex-ns mb3">

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Your email" class="w-100">
    <label for="email">Your email</label>
  </fieldset>
    <!-- recaptcha -->
    <div class="g-recaptcha" data-sitekey="6LfDp8oUAAAAACzQ4PPl8nuXwmmJMTnpi9mXa-N3"></div>
    <br/>
  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

</form>
