{{ define "main" }}
<div class="bg-off-white pv5 pv6-l">
  <div class="mw6 center ph3 tc">
    <h1 class="f2 f1-l b lh-title mb3">404 - Page Not Found</h1>
    <p class="f4 mb4">Sorry, but the page you were looking for doesn't exist.</p>
    <div class="mb3">
      <a href="/" class="btn w-100 w-auto-ns raise">Return to Homepage</a>
    </div>
    <div class="mb3">
      <a href="/inventory/" class="btn w-100 w-auto-ns raise">Browse Inventory</a>
    </div>
    <div>
      <a href="/contact/" class="btn w-100 w-auto-ns raise">Contact Us</a>
    </div>
  </div>
</div>
{{ end }}
