<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ if .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  {{ end }}
  
  <!-- Netlify Identity -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
</head>
<body>

  {{ partial "header" . }}
  
  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer" . }}
  
  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
  
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
