{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/7.jpg" "title" "This is where the heading goes" "subtitle" "This is where the subtitle goes") }}

<article itemscope itemtype="http://schema.org/Article">
  <meta itemprop="headline" content="{{ .Title }}">
  <meta itemprop="description" content="{{ .Description }}">
  <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
  <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
  
  <div class="mw7 center ph3 pv4">
    {{ .Content }}
  </div>
</article>

{{ end }}
